/* Globales */

:root {
  --colorheader: #2d3142;
  --colorarticle: #d8d5db;
  --coloraside: #adacb5;
  --colorfooter: #2d3142;
}

/* Colores y alturas */

header {
  background: var(--colorheader);
  height: 100px;
}

article {
  background-color: var(--colorarticle);
}

aside {
  background-color: var(--coloraside);
}

footer {
  background: var(--colorfooter);
  padding: 37.5px;
}

/* Globales */
header,
article,
aside {
  padding: 30px 20px;
}
